* {

    font-family: "Montserrat";
    margin: 0;
    padding: 0;
}



/* Design du bouton */
.bouton {
  all: unset;
  width: 100px;
  height: 20px;
  font-size: 15px;
  background: transparent;
  border: none;
  position: relative;
  color: white;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  justify-content: center;

}

.bouton::after, .bouton::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.bouton::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #6fa5d2;
  border-radius: 10px;
}

.bouton::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.bouton:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}


.bouton:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}


/* Menu CV et mes lectures avec effet de soulignage */

.fond {
    background: #ace0f9;
    width: 100%;
    height: 100vh;

    background-size: cover;
    background-color: #ace0f9;


}

.menu {
    display: flex;
    cursor: pointer;
    justify-content:center;
    align-items: center;

    padding: 15px;
}

.menu li{
    list-style-type: none;
}

.menu a {
    display: block;
    /*padding: 16px 0 5px;*/
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.7px;
    color: white;
    font-weight: bold;
    transition: color 0.7s ease;
    text-decoration: none;
}

.menu a:hover {
    color: black;
}

.menu a:after {
    content: '';
    display: block;
    margin: auto;
    height: 1.02px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.menu a:hover:after {
    width: 100%;
    background: black;
}
.box {
    border-radius: 15px;
    transition: all .38s ease;
}

.box:hover {
    transform: translateY(-10px);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
}

.modal-card {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 80%;
}
.box {
    max-height: 400px;
    /* Ajustez la hauteur maximale comme nécessaire */
    overflow-y: auto;
    /* Ajoute une barre de défilement si le contenu de la box est trop long */
    width: 100%;
}

.carre {
    border-radius: 15px;
    transition: all .38s ease;
    padding: 15px;
}

.carre:hover {
    transform: translateY(-10px);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
}

.carre {
    max-height: 400px;
    /* Ajustez la hauteur maximale comme nécessaire */
    overflow-y: auto;
    /* Ajoute une barre de défilement si le contenu de la box est trop long */
    width: 100%;
}

.table-container {
    max-height: calc(100% - 40px);
    overflow-y: auto;
}

table {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
    width: 100%;
    /* Ajuste la largeur à 100% */
}


th {
    background: #c6e2ff;
}


tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

tr:hover {
    background-color: white; /* #c6e2ff #87CEEB #ace0f9; ##87CEFA bleu; #FBFFFF blanc néon*/
    transform: scale(1.01);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


